.gc-icon {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center center;
    mask-size: contain;
    -webkit-mask-size: contain;

    &.ghoul {
        mask-image: url('../../assets/ghoul.svg');
        -webkit-mask-image: url('../../assets/ghoul.svg');
    }
}
